<!DOCTYPE html>

<html xmlns:th="http://www.thymeLeaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}" />
    </head>
    
    <body>
        
        
        <div class="col-md-6 col-xs-12 spacer">
            <div class="panel panel-info">
                <div class="panel panel-heading">Login</div>
                <div class="panel panel-body">
                    <form th:action="@{/login}" method="post">
                        <div class="form-group">
                            <label class="control-label">UserName : </label>
                            <input type="text" name="username" class="input-sm" placeholder="Your username"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password : </label>
                            <input type="text" name="password" class="input-sm" placeholder="your password"/>
                            
                        </div>
                        <div>
                            <input type="submit" value="Login" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </body>
</html>
